h3, h4
{
	margin: 0;
}
img
{
	padding: 1em;
}

.btn
{
	border-radius: 10px;
}
.btn-info
{
	background-color: #00aeef !important;
	margin: 1em;
}
.order-button
{
	margin-bottom: .3em;
}
.price
{
	color: #00aeef;
}
.homeprice
{
	color: white;
	font-size: 2em;
}
.row
{
	margin-left: 0;
	margin-right: 0;
}
.nav-pills a {
	color: white;
}
.nav-pills > li > a:hover {
    background-color: rgb(66, 139, 202);
}
.headerlinks
{
	color: white;
	font-size: 1.5em;
	display: inline-block;
	margin-top: 20px;
}
.headerlinks:hover
{
	color: #04a8e6;
	text-decoration: none;
}
.join
{
	color: #04a8e6;
}
.join:hover
{
	color: white;	
}
.title
{
	background: #353b3f url(../img/background.png) no-repeat 0 0;
	background-size: cover;
	background-position:center;
}
.nav
{
	display: block;
	margin-left: 5em;
	text-align: center;
}
.logo {
	float: left;
}
.nav-pills
{
	float: right;
	margin-top: 11px;
	margin-bottom: 10px;
	font-size: 1.2em;
}
.centernav
{
    float: none;
    margin: 0 auto;
    width: 1150px;
   	margin-top: 15px;
	margin-bottom: 10px;
}
.nav .navlinks
{
	text-align: right;
}
.subheading
{
	text-align: center;
}
.contentarea {
	padding-bottom: 5em;
	margin-top: 2em;
	padding-top: 3em;
}
.tagline
{
	text-align: center;
	color: white;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}
.featuredboxes
{
	color: white;
	padding: 1em;
}
.featuredboxes .col-md-2
{
	text-align: center;
	/*line-height: 1em;*/
}
.avatar
{
	border-radius:100%;
}
.namesubtag
{
	color: #bcbbbb;
}
.selectedperson
{
	border-radius: 3px;
}
.selectedperson *
{
	background-color: #eee;
}

.selectedperson .col-md-3
{
	text-align: center;
	display: block;
}

.btn
{
	font-size: 1.5em;
}
.viewmore
{
	display: block;
	margin: auto;
	margin-bottom: 2em;
}
.aboutbox
{
	margin-top: 2em;
	background-color: #eee;
	padding: 2em;
}
.aboutbox h3:nth-child(2)
{
	margin-top: 1em;
}
.categories
{
	background-color: #eee;
}
.table
{
	text-align: center;
}
.pastBoxes img
{
	padding: 1em;
}
.pastBoxes
{
	text-align: center;
}
.pages
{
	text-align: center;
}
footer
{
	margin-top: 10em;
	background-color: #ccc;	
	height: auto;
}
footer div
{
	padding: 2em;
	display: inline;
}
footer a
{
	text-decoration: none;
}
footer ul li:first-child
{
	font-weight: bold;
}

footer ul li:nth-child(2)
{
	font-weight: bold;
	color: #04a8e6;
}
footer ul li a
{
	color: inherit;
}
.copyrightcol li:nth-child(2)
{
	
}
.redline
{
	min-width: 100%;
	border-top: 1em solid #C70D58;
}
@media only screen and (max-width: 1086px) {
    #footer
    {
        display: none;
    }
	.nav
	{
		margin-left: 0 !important;
	}
}

@media only screen and (max-width: 1150px) {
	.centernav
	{
    float: none;
    margin: 0 auto;
    width: 90%;
	}
}